<h1>Diva's beauty salon</h1>
  <% if @stylists.any?() %>
  <p>Click on a stylist to see their clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>


  <p>Add a new stylist:</p>

  <form action="/stylists" method="post">
    <label for="name">Assign a name to your stylist:</label>
    <input id="name" name="name" type="text">

    <button class="btn" type="submit">Add a styList</button>
  </form>


  <p> Add client to any stylist:</p>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a styList</label>
    <select id='stylist_id' name='stylist_id' type='text' class="browser-default">
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>


    <label for="name">Name of the client:</label>
    <input id="name" name="name" type="text">

    <button class="btn" type="submit">Add client</button>
  </form>
