<h1>Diva's beauty salon</h1>
  <% if @stylists.any?() %>
  <p>Click on a stylist to see their clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>


  <p>Add a new stylist:</p>

  <form action="/stylists" method="post">
    <label for="name">Assign a name to your stylist:</label>
    <input id="name" name="name" type="text">

    <button class="btn" type="submit">Add a styList</button>
  </form>
