<h1><%= @stylist.name() %></h1>

  <% if @stylist.clients().any?() %>
    <h3>Here are all the client in this stylist:</h3>

    <ul>
      <% @stylist.clients().each() do |client| %>
        <li><%= client.name() %> </li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no clients for this stylist!</p>
    <% end %>

<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %> </a></p>

      <div class="container">
        <a href="/">Home</a>
        <a href="/stylists">View All stylists</a>
        <a href="/stylists/new">Add New stylist</a>
        <a href="/stylists/new">Add New client</a>
      </div>
